* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFFACD;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

h1 {
    font-family: "Notable", sans-serif;
    font-weight: 900;
    color: #4B4B4B;
}

.todo-app {
    width: 500px;
    background-color: #FFF9AE;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px #D4AF37;
}

h4 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    color: #4B4B4B;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding-left: 20px;
    margin: 30px 0;
    width: 95%;
    margin-inline: auto;
    gap: 2rem;
}

#input {
    color: #D4AF37;
    font-size: 17px;
    width: 100%;
    flex: 1;
    border: none;
    outline: none;
    padding: 10px;
    background: transparent;
    font-weight: 400;
    border-bottom: 2px solid #D4AF37;
}

.btn {
    border: none;
    outline: none;
    color: #D4AF37;
    font-size: 1.5rem;
    font-weight: 600;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-shadow: 2px 2px 10px #D4AF37;
    background-color: #FFFACD;
}

.btn:hover {
    color: #D4AF37;
    box-shadow: 4px 4px 20px #D4AF37;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

ul li {
    font-weight: 500;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    padding: 10px 20px;
    width: 80%;
    min-height: 30px;
    margin: 0 auto;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    background-color: #FFFACD;
    color: #4B4B4B;
    display: flex;
    align-items: center;
}

ul li:hover {
    background-color: rgba(255, 100, 255, .1);
    box-shadow: 2px 2px 10px #D4AF37;
}

ul li.checked {
    color: #4B4B4B;
    text-decoration: line-through;
}

ul li span {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    font-size: 1.4rem;
    color: #D4AF37;
    line-height: 40px;
    text-align: center;
}

ul li span:hover {
    border-radius: 30px;
    background-color: #4B4B4B;
    color: white;
}

ul li i {
    pointer-events: none;
}

/* Responsiveness */
@media only screen and (max-width: 550px) {
    body {
        margin-top: 5rem;
    }
    .todo-app {
        width: 90%;
    }
    h1 {
        font-size: 15vw;
    }
    ul li {
        width: 90%;
    }
}